<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>RealTimeMorpion</title>
	  <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
  <body>

  <div id="container">
    <div id="content">
        <div id="home">
            <div id="header"><img src="/images/header.png" width="1024" height="66" /></div>
            <div class="headermessage">
                &nbsp;
                <span id="yourTurn" class=" hide alternate-color">Waiting for someone else to play</span>
                <span id="myTurn" class=" hide alternate-color">It's your turn</span>
                <span id="gameEnd" class=" hide alternate-color">Game won ! you can now safely reset the board :)</span>
            </div>
            <div id="main">
                <div id="col-left">
                    <div class="joueur"></div>
                    <div class="pion"><img src="/images/blank.png" border=0 name="JG" id="JG" alt="JG" width="84" height="84" /></div>
                    <div class="tour"><p>Score<span class="line"></span></p><p class="numero"><label id="scorJ">0</label></p></div>
                </div><!-- close #col-left-->
                <div id="center">

                    <div id="division">
                        <div class="case"><div class="square" data-coord="0,0" style="width:147px;height:147px;">&nbsp;</div></div>
                        <div class="case"><div class="square" data-coord="0,1" style="width:147px;height:147px;">&nbsp;</div></div>
                        <div class="case"><div class="square" data-coord="0,2" style="width:147px;height:147px;">&nbsp;</div></div>

                        <div class="case"><div class="square" data-coord="1,0" style="width:147px;height:147px;">&nbsp;</div></div>
                        <div class="case"><div class="square" data-coord="1,1" style="width:147px;height:147px;">&nbsp;</div></div>
                        <div class="case"><div class="square" data-coord="1,2" style="width:147px;height:147px;">&nbsp;</div></div>

                        <div class="case"><div class="square" data-coord="2,0" style="width:147px;height:147px;">&nbsp;</div></div>
                        <div class="case"><div class="square" data-coord="2,1" style="width:147px;height:147px;">&nbsp;</div></div>
                        <div class="case"><div class="square" data-coord="2,2" style="width:147px;height:147px;">&nbsp;</div></div>
                    </div>
                </div><!-- close #center-->
                <div id="col-right">
                    <div class="joueur"></div>
                    <div class="pion"><img src="/images/blank.png" name=JD alt=JD width="84" height="84" /></div>
                    <div class="tour"><p>Score<span class="line"></span></p><p class="numero"><label id="scorO">0</label></p></div>
                </div><!-- close #col-right-->
                <div class="clear"></div>
            </div><!-- close #main-->

            <div id="footer" style="text-align:center">
                <input type="button" id="reset" value="reset" class="btn" />
                <div id="usersCount"></div>

            </div>
        </div>
    </div><!-- close #content-->
</div><!-- close #container-->
<!-- div gagner -->
<div id="popup-gagner" style="display: none;">
    <div id="bouton-rejouer"><a href="#"><img src="/images/bouton-replay.png" width="154" height="52" /></a></div>
</div>
<!-- div perdu -->
<div id="popup-perdu" style="display: none;">
    <div id="bouton-rejouer"><a href="#"><img src="/images/bouton-replay.png" width="154" height="52" /></a></div>
</div>
<!-- div egalite -->
<div id="popup-egalite" style="display: none;">
    <div id="bouton-rejouer"><a href="#"><img src="/images/bouton-replay.png" width="154" height="52" /></a></div>
</div>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/views/index.js"></script>


  </body>
</html>