@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.hide {
    display:none;
}

.alternate-color {
    color:black;
}
.headermessage {
    font-family: 'fairviewregular'; color:#fff; font-size:30px; text-transform:uppercase;
    text-align:center;
}

/* -- STRUCUTURE -- */
body { background:url("../images/background.png") repeat;  width:1024px; height:768px; margin:0 auto;  }
#container { width:1024px; height:768px; margin:0 auto; }
p { font-family: 'fairviewregular'; color:#fff; font-size:30px; text-transform:uppercase; }

/* -- HOME -- */
#bg-home { background:url("../images/home-gradient.png") repeat; }
/*#home {  background:url("images/home.jpg") no-repeat; width:1024px; height:768px;}*/

/* -- CONTENT -- */
#content {  width:1024px; height:768px; margin:0 auto;  }
#header { height:85px; padding: 5px 0 0 0;  }
#main { width:822px; margin:0 auto; }
#footer { }

#col-right, #col-left  {width:130px; margin-top: 28px; }
#col-right { float:right; }
#col-left { float:left; margin-right:15px; }
#center { float:left; background:url("../images/center.png") no-repeat; width:530px; height:493px; padding-top: 27px; }
#division { width:442px; height:442px; background:url("../images/division.jpg") no-repeat; margin:0 auto; }
.case { width: 147px; height: 147px;float:left; }
.joueur { width:130px; height:65px; text-align:center; }
.pion { height:93px; background:#fff; padding: 30px 22px; }
.tour { background:url("../images/gradient-rouge.png") repeat-x; height:185px; text-align:center; padding:20px 25px; -moz-box-shadow: 0px 4px 7px 0px #9b9b9b; -webkit-box-shadow: 0px 4px 7px 0px #9b9b9b; -o-box-shadow: 0px 4px 7px 0px #9b9b9b; box-shadow: 0px 4px 7px 0px #9b9b9b;}
/*.player-one { background:url("images/gradient-vert.png") repeat; }
.player-two {  background:url("images/gradient-orange.png") repeat;}*/
.line { border-bottom:3px solid #fff; display: block;  width: 85px; margin: 5px 0; }
.numero { font-size:80px; }
#play { width:329px; margin: 0 auto; }
#choice { width: 259px; margin: 0 auto; padding: 300px 35px 0 35px;}
#cercle, #croix {  width:90px; cursor:pointer; }
#cercle { float:right; }
#croix { float:left;}

/* -- UTILE -- */
.clear { clear:both;}

@font-face {
    font-family: 'fairviewregular';
    src:url('../fairview_regular/fairview_regular-webfont.eot');
    src: url('../fairview_regular/fairview_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fairview_regular/fairview_regular-webfont.woff') format('woff'),
         url('../fairview_regular/fairview_regular-webfont.ttf') format('truetype'),
         url('../fairview_regular/fairview_regular-webfont.svg#fairviewregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.loader {
    padding : 25px 0 0 25px;
}